* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: white;
  color: black;
}

body {
  min-height: 100dvh;
}

#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
